.main {
    background: rgb(0,11,36);
    background: linear-gradient(127deg, rgba(0,11,36,1) 0%, rgba(9,38,121,1) 18%, rgba(147,17,136,1) 61%, rgba(255,0,101,1) 100%);
    display: grid;
    grid-template-rows: 1fr 1fr;
    height:100%;
}
@media only screen and (min-width: 1200px) {
    .main {
        grid-template-columns: 1fr 1fr;
    }
}
.background {
    margin: 20px;
    background-color: rgb(255, 255, 255, .5);
    border-radius: 5px;
}
    .background.left-side {
        display: grid;
        grid-template-rows: 65% 5% 30%;
    }

.tabs {
    overflow: hidden;
    /*border: 1px solid #ccc;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

    .tabs button {
        border-radius: 5px;
        background-color: #f1f1f1;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 8px 16px;
        transition: 0.3s;

    }

        .tabs button:hover {
            background-color: #ddd;
        }

        .tabs button.active {
            background-color: #ccc;
        }
    .tabs i {
        margin-left: 10px;
    }


.tabcontent {
    /*display: none;*/
    padding: 6px 12px;
    height:100%;
}


::deep .mud-drop-zone {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

    ::deep .mud-drop-zone:nth-child(2) .user-card-location {
        background-color: rgb(34, 73, 38)
    }

.wrap-users-empty {
    width: 100%;
    height: 100%;
}
.wrap-menu-tabs {
    width: 100%;
    height: 80%;
}

.users-empty {
    width: 100%;
    height: 100%;
}

.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
.separator{
    width:100%;
    height:2px;
    background-color:white;
}
.wrap-comments{
    min-height:100px;
}
/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.commment {
    background-color: rgba(255,255,255, .5);
    width: 90%;
    border-radius: 25px;
    color: white;
    padding: 7px;
    text-align: center;
}
.comment i{
    margin-right:10px;
}